    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <nav class="footer-nav">
                <a href="{{ url_for('index') }}">Início</a><span class="separator">·</span>
                <a href="{{ url_for('nos') }}">Sobre nós</a><span class="separator">·</span>
                <a href="{{ url_for('depoimentos') }}">Depoimentos</a><span class="separator">·</span>
                <a href="{{ url_for('contato') }}">Contato</a>
                <a href="{{ url_for('blog') }}">Blog</a>
            </nav>
            <div class="footer-line"></div>
            <div class="footer-logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </div>
        </div>
    </footer>