    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <nav class="footer-nav">
                <a href="{{ url_for('index') }}">Início</a><span class="separator">·</span>
                <a href="#">Galeria</a><span class="separator">·</span>
                <a href="#">Sobre nós</a><span class="separator">·</span>
                <a href="#">Depoimentos</a><span class="separator">·</span>
                <a href="#">Contato</a>
            </nav>
            <div class="footer-line"></div>
            <div class="footer-logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </div>
        </div>
    </footer>