<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ articulo['titulo'] }}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/e14c28a9-8a58-40cc-911a-e42b3f76a7c5-loader.js" ></script>
</head>
<body>
    <!-- Sobreposición para el fondo -->
    <div class="overlay"></div>

    <!-- Menú de navegación -->


    <!-- Sección del detalle del blog -->
    <section class="detalle-blog">
        <!-- Imagen de la capa -->
        <div class="blog-capa">
            <img src="{{ url_for('static', filename='img/blog/' ~ imagen_folder ~ '/capa.jpg') }}" alt="{{ articulo['titulo'] }}">
        </div>

        <!-- Título del artículo -->
        <h1>{{ articulo['titulo'] }}</h1>

        <!-- Información del autor, fecha y tiempo de lectura -->
        <p class="autor">{{ articulo['autor'] }} - {{ tiempo_lectura }} min de leitura</p>
        <p class="data">{{ data }}</p>

        <!-- Contenido del blog (texto e imágenes intercaladas) -->
        <div class="blog-content">
            {% for item in articulo['contenido'] %}
                {% if item.tipo == 'parrafo' %}
                    <p>{{ item.valor|safe }}</p> <!-- Renderiza contenido HTML dentro de los párrafos -->
                {% elif item.tipo == 'imagen' %}
                    <img src="{{ url_for('static', filename='img/blog/' ~ imagen_folder ~ '/' ~ item.valor) }}" alt="{{ articulo['titulo'] }}">
                {% endif %}
            {% endfor %}
        </div>
    </section>

    {% include 'fixed/footer.html' %}
</body>
</html>
