<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Costamatoso</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
    <!-- Etiqueta meta para dispositivos móveis -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vincular ao CSS usando Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/e14c28a9-8a58-40cc-911a-e42b3f76a7c5-loader.js" ></script>
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="progress-circle">
            <svg>
                <circle class="bg" cx="60" cy="60" r="50"></circle>
                <circle class="progress" cx="60" cy="60" r="50"></circle>
            </svg>
        </div>
        <img src="{{ url_for('static', filename='img/logo-preto-png.png') }}" alt="Logo">
    </div>

    <!-- Sobreposição para o fundo -->
    <div class="overlay"></div>

    <!-- Menú de navegação -->
    <header class="header-white">
        <nav class="navbar">
            <div class="logo">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/Logo_branco_novo.png') }}" alt="Logo"></a>
            </div>
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <!-- Menú desplegable -->
        {% include 'fixed/menu.html' %}
    </header>

    <!-- Seção de slideshow -->
    <section class="seccion imagem">
        <!-- Contêiner para as imagens do slideshow -->
        <!-- Slider Desktop -->
<div class="slideshow slider-desktop">
    {% for image in slider_images %}
        <div class="slide" style="background-image: url('{{ url_for('static', filename=image) }}');"></div>
    {% endfor %}
</div>

<!-- Slider Mobile -->
<div class="slideshow slider-mobile">
    {% for image in slider_images_mobile %}
        <div class="slide" style="background-image: url('{{ url_for('static', filename=image) }}');"></div>
    {% endfor %}
</div>


        <div class="slider-footer">
            <p>Grandes projetos começam com grandes escolhas.</p>
            <hr class="slider-line">
            <a href="{{ url_for('categoria', nome_categoria='Lares_Entregues') }}" class="slider-button">EXPLORE!</a>
        </div>
    </section>

    <section class="seccion conteudo">
        <div class="container">
            <h2 class="titulo-animado">{{ second_section.title }}</h2>
            <p class="texto-animado" data-texto="{{ second_section.text }}"></p>
        </div>
    </section>
    
<!--    <div id="cookie-banner" style="display:none; background:#ccc; padding:10px;">
        <p>Usamos cookies para melhorar sua experiência.</p>
        <button id="accept-cookies">Aceitar</button>
    </div>-->

    {% include 'fixed/footer.html' %}

    <!-- Vincular ao arquivo JavaScript usando Flask -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        // Script para o preloader
        window.addEventListener('load', function() {
            setTimeout(function() {
                var preloader = document.getElementById('preloader');
                preloader.style.opacity = '0';
                setTimeout(function() {
                    preloader.style.display = 'none';
                }, 1000); // Transição suave antes de remover o preloader
            }, 3000); // Garante que o preloader apareça por pelo menos 3 segundos
        });

        document.addEventListener('DOMContentLoaded', function() {
            var cookieBanner = document.getElementById('cookie-banner');
            var cookiesAccepted = localStorage.getItem('cookiesAccepted');
            if (!cookiesAccepted || cookiesAccepted !== 'true') {
                cookieBanner.style.display = 'block';
            }
        });

        document.getElementById('accept-cookies').addEventListener('click', function() {
            localStorage.setItem('cookiesAccepted', 'true');
            document.getElementById('cookie-banner').style.display = 'none';
        });
    </script>
</body>
</html>